* @cognitedata/devx-externals @cognitedata/api-team

# Send SVGViewer related PRs to the opsup team by default.
src/components/SVGViewer  @cognitedata/devx-externals @cognitedata/api-team @cognitedata/opsup-team-dev

# Send AssetScanner related PRs to the opsup team by default.
src/components/AssetScanner  @cognitedata/devx-externals @cognitedata/api-team @cognitedata/opsup-team-dev
